<div class="list-item__logic">
    <div class="list-item__price">{{price}}€</div>
    <div class="list-item__editor" *ngIf="added">
        <div class="list-item__quantity">
            <input type="number" min="0" [formControl]="quantityInput" />
            <div *ngIf="quantityInput.invalid && (quantityInput.dirty || quantityInput.touched)" class="list-item__error">Value should be a positive number</div>
        </div>
        <button (click)="removeFromCard(id)" class="list-item__remove">remove</button>
    </div>
    <button *ngIf="!added" (click)="addToCart(id)" class="list-item__addcart">add to cart</button>
</div>
