:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-item__price {
    text-align: end;
    font-size: 36px;
}

.list-item__addcart,  .list-item__remove {
    display: block;
    height: 46px;
    background-color: #fff;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

.list-item__addcart:active, .list-item__remove:active {
    background-color: rgba(235, 235, 235, 1);
    
}

.list-item__editor {
    display: flex;
    position: relative;
}

.list-item__quantity {
    flex: none;
    background-color: aqua;
    display: flex;
    align-items: stretch;
    justify-content: center;

    margin-right: 0.5em;
}

.list-item__error {
    left: 0;
    position: absolute;
    bottom: -1.5em;
    color: red;
    width: 1000px;
    font-size: 12px;
}

.list-item__quantity > input {
    width: 3em;
    border: 0;
    text-align: center;
    font-size: 25px;
}

.list-item__quantity > input:focus-visible {
    outline: none;
}

.list-item__remove {
    flex: auto
}